/* html {
    box-sizing: border-box;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
} */
:root {
    --brand-color-blue-light-hover: #188CE8;
    --brand-color-blue-light: #2196F3;
    --brand-color-blue: #3f51b5;    
    --brand-color-black: #000000;
    --brand-color-black-light: #212121;
    --brand-color-black-dark: #2F303A;
    --brand-color-gray: #757575;
    --brand-color-gray-light: #F5F4FA;
    --brand-color-gray-border: #EEEEEE;
    --brand-color-white: #FFFFFF;
    --brand-color-heder-line: #ECECEC;
    --brand-color-address:rgba(255, 255, 255, 0.6);
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
ul {
    padding: 0;
}
.list {
    list-style: none;    
}
.link {
    text-decoration: none;    
    line-height: 1.17;
}
.page {    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--brand-color-white);        
    color: var(--brand-color-black-light);   
}
.page-header {
   
}
/* Подсветка */
.site-nav .link:hover, .site-nav .link:focus, .site-nav .link.current {
    color: var(--brand-color-blue-light);
}
.site-nav .link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-color-black-light);
}
.site-nav, .site-nav li, .auth-nav li {
    display: inline-block;
}

/* Хедер почта телефон */
.auth-nav-element {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-color-gray);
}
.auth-nav-element:hover, .auth-nav-element:focus {
    color: var(--brand-color-blue-light);
}
/* Логотип */
.logo {        
    font-size: 26px;
    color: var(--brand-color-black);    
    font-family: 'Raleway', sans-serif;    
    line-height: 1.17;    
}
.logo span{
    color: var(--brand-color-blue-light);
}
/* Герой */
.hero .button {
    margin: 0;    
    height: 50px;
    min-width: 200px;
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.88;
       
}
.hero .button:hover{
    background-color: var(--brand-color-blue-light-hover);
}
.hero {
    background: var(--brand-color-black-dark);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    /* margin-top: 200px;
    margin-bottom: 200px; */
}
.hero-title {    
    /* margin-top: 200px; */
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;    
    font-size: 44px;
    font-weight: 900;    
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    
}
/* Наша команда */
.personal { 
    background: var(--brand-color-gray-light);
}
.personal-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.17;
    text-align: center;    
}
.personal-text {
    margin-bottom: 30px;  
    line-height: 1.17;
    text-align: center;    
    color: var(--brand-color-gray);
}
.personal-card {
    margin-right: 19px;
    background-color: var(--brand-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Секция картинок */
.section-title {    
    font-size: 36px;    
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;   
}
/* Секция коротких текстов */
.block-list {       
    display: flex;    
}
.block {
    /* width: 270px;     */
    
}
.block-title {     
    font-size: 14px;    
    line-height: 1.17;    
    text-transform: uppercase;
    margin-bottom: 10px;    
}
.block-text {
    margin-right: 30px;
    margin-bottom: 94px;
    font-size: 14px;    
    line-height: 1.71;    
    color: var(--brand-color-gray);
    width: 270px;    
}
/* Футер */
.logo-footer {   
    color: var(--brand-color-white);
}
.footer {    
    background: var(--brand-color-black-dark);
}
.address, .address .link {    
    font-size: 14px;    
    line-height: 1.71;    
    color: var(--brand-color-white);
    font-style: normal;    
}
.address .link {  
    color: var(--brand-color-address);        
} 
.address .link:hover, .address .link:focus {    
    color: var(--brand-color-blue-light);
}
/* Портфолио */
.button {
    color: var(--brand-color-black-light);
    background: var(--brand-color-gray-light);
    cursor: pointer;
    border: 0;
    margin: 0px 4px;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: inherit;    
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button:hover, .button:focus {
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-card {    
    margin-right: 13px;
    margin-bottom: 30px;
    /* outline: solid #000000; */
    border: 1px solid var(--brand-color-gray-border);
}
.portfolio-card img, .personal-card img {
    display: block;
}
.portfolio-card-title {    
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 4px;
    font-size: 18px;    
    line-height: 2;     
    letter-spacing: 0.06em;    
}
.portfolio-card-text {
    margin-bottom: 20px;  
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.88;      
    color: var(--brand-color-gray);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: tomato; */
    outline: solid tomato;
    margin-left: auto;
    margin-right: auto; 
     
}
/* .container .li {
    display: flex;
    flex-direction: row;
    background-color: #188CE8;
} */
.section {
    padding: 94px 0;    
}
.photo {
    display: inline;    
    /* margin-right: 17px;     */
    
}
.photo img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}
.list li, .portfolio-card{
    display: inline-block;
    
}
